workflows/Course API Workflow.json
{
  "name": "Course API Workflow",
  "nodes": [
    {
      "parameters": {
        "collection": "courses",
        "options": {},
        "query": "={\n  \"userId\": \"{{ $json.query.userId }}\"\n}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        224,
        0
      ],
      "id": "5dd729b3-595a-43be-85fa-6529571eedd3",
      "name": "Find documents",
      "credentials": {
        "mongoDb": {
          "id": "YDwRGSFnFZwMGZ3A",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "courses",
        "options": {},
        "query": "={\n  \"courseId\": \"{{ $json.params.courseId }}\"\n}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        224,
        224
      ],
      "id": "d4c4c95b-983c-4655-8776-40b3ff38f582",
      "name": "Find documents1",
      "credentials": {
        "mongoDb": {
          "id": "YDwRGSFnFZwMGZ3A",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "path": "courses",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "2696a9f1-24ab-4a7e-9800-f7628101be65",
      "name": "Get courses by userId",
      "webhookId": "d71cec1c-92e7-4aac-a066-4b314bc64450"
    },
    {
      "parameters": {
        "path": "courses/:courseId",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        224
      ],
      "id": "c8ba9d22-3e54-4f12-bd28-8a3e078fe0f9",
      "name": "Get courses by courseId",
      "webhookId": "d71cec1c-92e7-4aac-a066-4b314bc64450"
    },
    {
      "parameters": {
        "httpMethod": "PUT",
        "path": "courses/:courseId",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        448
      ],
      "id": "ee96e274-cf69-4640-b317-c56e16c88b05",
      "name": "Update course",
      "webhookId": "d71cec1c-92e7-4aac-a066-4b314bc64450"
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "courses",
        "updateKey": "courseId",
        "fields": "={{ Object.keys($json).join(', ') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        448,
        448
      ],
      "id": "719cf608-5348-4dc9-b0c1-b813eec181c4",
      "name": "Find and update documents",
      "alwaysOutputData": false,
      "credentials": {
        "mongoDb": {
          "id": "YDwRGSFnFZwMGZ3A",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{\n  {\n    \"courseId\": $json.params.courseId,\n    ...$json.body\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        448
      ],
      "id": "f9325814-7e49-422e-a11d-4a5270f9bd41",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "courses",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        768
      ],
      "id": "e48cd36d-04b8-49f4-ad60-50c61c9bb1a9",
      "name": "Generate new course",
      "webhookId": "d71cec1c-92e7-4aac-a066-4b314bc64450"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{\n{\n  \"courseId\": $json.uuid,\n  \"status\": $json.body.status ?? \"DRAFT\",\n  \"goal\": $json.body.goal ?? \"\",\n  \"mentorId\": $json.body.mentorId ?? \"\",\n  \"notes_from_mentor\": $json.body.notes_from_mentor ?? \"\",\n  \"outline\": $json.body.outline ?? {},\n  \"lessonIds\": $json.body.lessonIds ?? [],\n  \"courseName\": $json.body.courseName ?? \"New Course\",\n  \"userId\": $json.body.userId\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        672
      ],
      "id": "00c64c79-3021-4879-b885-ea4e34672e13",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "courses",
        "fields": "courseId, status, goal, mentorId, notes_from_mentor, outline, lessonIds, userId, courseName",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        896,
        672
      ],
      "id": "12235b8a-2d3b-45ec-afb2-12bfb8585bee",
      "name": "Insert documents",
      "alwaysOutputData": false,
      "credentials": {
        "mongoDb": {
          "id": "YDwRGSFnFZwMGZ3A",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "98fb61f8-c642-47e7-a5f1-4e1f98d534dd",
              "leftValue": "={{ $json.body?.userId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        768
      ],
      "id": "f380b054-f01b-4440-8e7b-85f0caf34243",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"error\": \"userId is required\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        448,
        864
      ],
      "id": "e0bf245f-4ed0-473e-bb84-4da5009c3e53",
      "name": "error"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 201
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1120,
        672
      ],
      "id": "877ae688-f2fd-4c27-8e46-fa261df731de",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "next-lesson/:courseId/",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        1280
      ],
      "id": "eacc6bec-9aa3-4be7-9803-d9d40cf3116c",
      "name": "Next lesson",
      "webhookId": "d71cec1c-92e7-4aac-a066-4b314bc64450"
    },
    {
      "parameters": {
        "action": "generate",
        "dataPropertyName": "uuid"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        448,
        672
      ],
      "id": "7c1aea2d-f336-4fa8-bddd-18268c15b3a7",
      "name": "course uuid"
    },
    {
      "parameters": {
        "action": "generate",
        "dataPropertyName": "uuid"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        224,
        1280
      ],
      "id": "c6f0bac7-e045-41fc-a146-57e86fca452d",
      "name": "lesson uuid"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "lessons",
        "fields": "lessonId, status, slide_URL, audio_URLs",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        1344,
        1280
      ],
      "id": "70234a2a-1345-4d3b-9af4-23a09fcaea8f",
      "name": "Insert lesson",
      "alwaysOutputData": false,
      "credentials": {
        "mongoDb": {
          "id": "YDwRGSFnFZwMGZ3A",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "courses",
        "options": {},
        "query": "={\n  \"courseId\": \"{{ $json.courseId }}\"\n}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        672,
        1360
      ],
      "id": "baa3fcd1-1fa1-48c2-a1c9-7e4a2efb1232",
      "name": "Get course",
      "credentials": {
        "mongoDb": {
          "id": "YDwRGSFnFZwMGZ3A",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{\n{\n  \"lessonId\": $json.uuid,\n  \"status\": \"GENERATING\",\n  \"slide_URL\": \"\",\n  \"audio_URLs\": [],\n  \"courseId\": $json.params.courseId\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        1280
      ],
      "id": "6449a793-cf06-483a-8a50-9cd135e5c9ce",
      "name": "Generate empty lesson obj"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        896,
        1280
      ],
      "id": "5a1adc44-ade6-494f-a424-e5061400ef83",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{\n{\n  \"nextLessonNum\": $json.lessonIds.length,\n  \"lessonIds\": $json.lessonIds.append($json.lessonId),\n}\n}}",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        1280
      ],
      "id": "32d51ace-e1ec-484f-acab-f1bd25244a41",
      "name": "Update lessonId"
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "courses",
        "updateKey": "courseId",
        "fields": "=lessonIds",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        1344,
        1088
      ],
      "id": "40cddb8d-e5d1-42f8-a34d-001c825b328d",
      "name": "Update lessonIds",
      "alwaysOutputData": false,
      "credentials": {
        "mongoDb": {
          "id": "YDwRGSFnFZwMGZ3A",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1568,
        1184
      ],
      "id": "63fd0957-6789-4f13-9812-024d2168085d",
      "name": "Merge1"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 201
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1792,
        1184
      ],
      "id": "2e4e9549-83e3-4001-9f00-56ca7d2ffd2e",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/async-generate-slide",
        "sendBody": true,
        "specifyBody": "=json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={{  \n{  \n\"title\": $json.outline.lessons[$json.nextLessonNum].title,\n\"lessonId\": $json.lessonId,\n\"slides\": $json.outline.lessons[$json.nextLessonNum].slides\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1344,
        1472
      ],
      "id": "31df6705-4ac2-41c0-a5d1-a55b88d89f9d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"courseId\": \"{{ $json.params.courseId }}\",\n  \"status\": \"GENERATING\"\n  \"goal\": \"{{ $json.body.goal }}\"\n  \"notes_from_mentor\": \"{{ $json.body.notes_from_mentor }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        1696
      ],
      "id": "dc0b3176-d369-4599-b311-2d8179419aca",
      "name": "Status \"GENERATING\""
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "courses",
        "updateKey": "courseId",
        "fields": "=status, goal, notes_from_mentor",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        672,
        1696
      ],
      "id": "55362ffb-594c-414e-a279-c30ea612009b",
      "name": "Update status",
      "credentials": {
        "mongoDb": {
          "id": "YDwRGSFnFZwMGZ3A",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"courseId\": \"{{ $json.courseId }}\",\n  \"outline\": {{ $json.outline }},\n  \"status\": \"IN_PROGRESS\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        1888
      ],
      "id": "3a07e88a-c994-477f-9d43-eb2dfaa37c6d",
      "name": "Status \"IN_PROGRESS\""
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "courses",
        "updateKey": "courseId",
        "fields": "outline, status",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        1344,
        1888
      ],
      "id": "adb317a7-de30-4ae8-accb-cae04edacf04",
      "name": "Update outline and status",
      "credentials": {
        "mongoDb": {
          "id": "YDwRGSFnFZwMGZ3A",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate/:courseId",
        "options": {
          "responseCode": {
            "values": {
              "responseCode": 201
            }
          },
          "responseData": "outline generation started"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        1888
      ],
      "id": "4b929d3c-7edf-4ed1-9a0b-6ace69d56d72",
      "name": "Generate",
      "webhookId": "fb9d491c-0a9a-4068-a180-4f4ef76a4017"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a8cea6b5-6d57-4923-8da7-916e6478356d",
              "leftValue": "={{ $binary.materials }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        1984
      ],
      "id": "83c7154b-79e0-4228-b980-7dbd31bcc396",
      "name": "Check Materials"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook-test/generate-outline",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "goal",
              "value": "={{ $json.body.goal }}"
            },
            {
              "name": "notes_from_mentor",
              "value": "={{ $json.body.notes_from_mentor }}"
            },
            {
              "name": "cunet_id",
              "value": "={{ $json.body.cunet_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        2080
      ],
      "id": "13ae97ba-2a6a-45cd-ad7a-d74fb7a723bd",
      "name": "Outline Generator (without materials)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook-test/generate-outline",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "goal",
              "value": "={{ $json.body.goal }}"
            },
            {
              "name": "notes_from_mentor",
              "value": "={{ $json.body.notes_from_mentor }}"
            },
            {
              "name": "cunet_id",
              "value": "={{ $json.body.cunet_id }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "materials",
              "inputDataFieldName": "materials"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        1888
      ],
      "id": "deae0fd6-a544-4c2e-9725-1cbbb8104cba",
      "name": "Outline Generator (with materials)"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        896,
        1888
      ],
      "id": "f133ffcf-8426-4618-bb4e-47c50c6bbeb9",
      "name": "Merge CourseId and Outline"
    }
  ],
  "pinData": {},
  "connections": {
    "Get courses by userId": {
      "main": [
        [
          {
            "node": "Find documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get courses by courseId": {
      "main": [
        [
          {
            "node": "Find documents1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update course": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Find and update documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate new course": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Insert documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "course uuid",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert documents": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Next lesson": {
      "main": [
        [
          {
            "node": "lesson uuid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "course uuid": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lesson uuid": {
      "main": [
        [
          {
            "node": "Generate empty lesson obj",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert lesson": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Generate empty lesson obj": {
      "main": [
        [
          {
            "node": "Get course",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get course": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Update lessonId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update lessonId": {
      "main": [
        [
          {
            "node": "Update lessonIds",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert lesson",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update lessonIds": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status \"GENERATING\"": {
      "main": [
        [
          {
            "node": "Update status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update status": {
      "main": [
        [
          {
            "node": "Merge CourseId and Outline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status \"IN_PROGRESS\"": {
      "main": [
        [
          {
            "node": "Update outline and status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate": {
      "main": [
        [
          {
            "node": "Status \"GENERATING\"",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Materials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Materials": {
      "main": [
        [
          {
            "node": "Outline Generator (with materials)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Outline Generator (without materials)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outline Generator (without materials)": {
      "main": [
        [
          {
            "node": "Merge CourseId and Outline",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Outline Generator (with materials)": {
      "main": [
        [
          {
            "node": "Merge CourseId and Outline",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge CourseId and Outline": {
      "main": [
        [
          {
            "node": "Status \"IN_PROGRESS\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8fc1cb54-e6b7-458b-9302-9be88144f400",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "223bb2c504970140670b1688bb32145e3b1167df6033e11336f4b76346217546"
  },
  "id": "1KstaG3LVe2RiCTQLFg0H",
  "tags": []
}