workflows/Course API Workflow.json
{
  "name": "Course API Workflow",
  "nodes": [
    {
      "parameters": {
        "collection": "courses",
        "options": {},
        "query": "={\n  \"userId\": \"{{ $json.query.userId }}\"\n}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        224,
        0
      ],
      "id": "4c69f1a1-8bb1-4d2d-b7f8-320e927453a3",
      "name": "Find documents",
      "credentials": {
        "mongoDb": {
          "id": "HtD4Nt8obbMgCkbA",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "courses",
        "options": {},
        "query": "={\n  \"courseId\": \"{{ $json.params.courseId }}\"\n}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        224,
        224
      ],
      "id": "264e7033-a888-4933-aef0-e90e246d0f42",
      "name": "Find documents1",
      "credentials": {
        "mongoDb": {
          "id": "HtD4Nt8obbMgCkbA",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "path": "courses",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "a09b29b2-217b-41f9-ad81-a85bbb8a6ae5",
      "name": "Get courses by userId",
      "webhookId": "d71cec1c-92e7-4aac-a066-4b314bc64450"
    },
    {
      "parameters": {
        "path": "courses/:courseId",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        224
      ],
      "id": "c5a79085-c155-4290-85a9-626bc8289fcd",
      "name": "Get courses by courseId",
      "webhookId": "d71cec1c-92e7-4aac-a066-4b314bc64450"
    },
    {
      "parameters": {
        "httpMethod": "PUT",
        "path": "courses/:courseId",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        448
      ],
      "id": "d077cfdf-9de0-42bd-97f6-2b13bae42174",
      "name": "Update course",
      "webhookId": "d71cec1c-92e7-4aac-a066-4b314bc64450"
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "courses",
        "updateKey": "courseId",
        "fields": "={{ Object.keys($json).join(', ') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        448,
        448
      ],
      "id": "bdb71178-6b36-4200-a274-6d6ce775a689",
      "name": "Find and update documents",
      "alwaysOutputData": false,
      "credentials": {
        "mongoDb": {
          "id": "HtD4Nt8obbMgCkbA",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{\n  {\n    \"courseId\": $json.params.courseId,\n    ...$json.body\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        448
      ],
      "id": "3acc3615-fe4b-4856-b654-8e2553bb81c8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "courses",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        768
      ],
      "id": "5c0dc193-e4c6-4e47-9371-622bd56a49f9",
      "name": "Generate new course",
      "webhookId": "d71cec1c-92e7-4aac-a066-4b314bc64450"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{\n{\n  \"courseId\": $json.uuid,\n  \"status\": $json.body.status ?? \"DRAFT\",\n  \"goal\": $json.body.goal ?? \"\",\n  \"mentorId\": $json.body.mentorId ?? \"\",\n  \"notes_from_mentor\": $json.body.notes_from_mentor ?? \"\",\n  \"outline\": $json.body.outline ?? {},\n  \"lessonIds\": $json.body.lessonIds ?? [],\n  \"courseName\": $json.body.courseName ?? \"New Course\",\n  \"userId\": $json.body.userId\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        672
      ],
      "id": "bec549c0-8bfc-4a3e-a7a9-45cdb5e448d9",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "courses",
        "fields": "courseId, status, goal, mentorId, notes_from_mentor, outline, lessonIds, userId, courseName",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        896,
        672
      ],
      "id": "30afe3f1-1c07-48ad-bb1d-379ee1e3a63f",
      "name": "Insert documents",
      "alwaysOutputData": false,
      "credentials": {
        "mongoDb": {
          "id": "HtD4Nt8obbMgCkbA",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "98fb61f8-c642-47e7-a5f1-4e1f98d534dd",
              "leftValue": "={{ $json.body?.userId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        768
      ],
      "id": "bb86060a-d4a7-4f06-a43d-3ff58d0e579a",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"error\": \"userId is required\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        448,
        864
      ],
      "id": "68e36311-ad3c-4eb5-893a-0cdc53e62d29",
      "name": "error"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 201
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1120,
        672
      ],
      "id": "4b940923-9314-4b3d-9ffd-a96fc8fc2558",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "next-lesson/:courseId/",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        1280
      ],
      "id": "83b453c2-e2a0-4e90-abe3-e2149fbc4671",
      "name": "Next lesson",
      "webhookId": "d71cec1c-92e7-4aac-a066-4b314bc64450"
    },
    {
      "parameters": {
        "action": "generate",
        "dataPropertyName": "uuid"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        448,
        672
      ],
      "id": "8c1d8ef9-8c8f-4e6f-ac24-e754aea92239",
      "name": "course uuid"
    },
    {
      "parameters": {
        "action": "generate",
        "dataPropertyName": "uuid"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        224,
        1280
      ],
      "id": "1e3bcd24-0907-4c5a-9fb4-c2518897c611",
      "name": "lesson uuid"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "lessons",
        "fields": "lessonId, status, slide_URL, audio_URLs",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        1344,
        1280
      ],
      "id": "96b8bbba-736e-4153-9999-570a386206be",
      "name": "Insert lesson",
      "alwaysOutputData": false,
      "credentials": {
        "mongoDb": {
          "id": "HtD4Nt8obbMgCkbA",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "courses",
        "options": {},
        "query": "={\n  \"courseId\": \"{{ $json.courseId }}\"\n}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        672,
        1360
      ],
      "id": "c3d92e49-3c42-4f3c-907b-a1f56b327934",
      "name": "Get course",
      "credentials": {
        "mongoDb": {
          "id": "HtD4Nt8obbMgCkbA",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{\n{\n  \"lessonId\": $json.uuid,\n  \"status\": \"GENERATING\",\n  \"slide_URL\": \"\",\n  \"audio_URLs\": [],\n  \"courseId\": $json.params.courseId\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        1280
      ],
      "id": "c4c43a57-ed03-4b38-81cf-7971fb3f755d",
      "name": "Generate empty lesson obj"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        896,
        1280
      ],
      "id": "a15ad268-161e-4a62-b313-a71dcf53bf14",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{\n{\n  \"nextLessonNum\": $json.lessonIds.length,\n  \"lessonIds\": $json.lessonIds.append($json.lessonId),\n}\n}}",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        1280
      ],
      "id": "ce2b969f-b153-464b-b743-a6bebc19e218",
      "name": "Update lessonId"
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "courses",
        "updateKey": "courseId",
        "fields": "=lessonIds",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        1344,
        1088
      ],
      "id": "2abb806b-f3e2-49a1-9c52-b7ed8fd58b50",
      "name": "Update lessonIds",
      "alwaysOutputData": false,
      "credentials": {
        "mongoDb": {
          "id": "HtD4Nt8obbMgCkbA",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1568,
        1184
      ],
      "id": "0105fb8d-58de-49aa-8536-a423a9634a7b",
      "name": "Merge1"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 201
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1792,
        1184
      ],
      "id": "4e2734c3-a058-4e17-9dd5-98bb441eaa86",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/async-generate-slide",
        "sendBody": true,
        "specifyBody": "=json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={{  \n{  \n\"title\": $json.outline.lessons[$json.nextLessonNum].title,\n\"lessonId\": $json.lessonId,\n\"slides\": $json.outline.lessons[$json.nextLessonNum].slides\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1344,
        1472
      ],
      "id": "1d4b3687-760d-4ffe-87e6-55511916e2e9",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"courseId\": \"{{ $json.params.courseId }}\",\n  \"status\": \"GENERATING\"\n  \"goal\": \"{{ $json.body.goal }}\"\n  \"notes_from_mentor\": \"{{ $json.body.notes_from_mentor }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        1696
      ],
      "id": "22952c44-ae56-4f58-b715-00642c410985",
      "name": "Status \"GENERATING\""
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "courses",
        "updateKey": "courseId",
        "fields": "=status, goal, notes_from_mentor",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        448,
        1696
      ],
      "id": "51292b1c-6beb-457a-9c8f-bd5181232e00",
      "name": "Update status",
      "credentials": {
        "mongoDb": {
          "id": "HtD4Nt8obbMgCkbA",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"courseId\": \"{{ $json.courseId }}\",\n  \"outline\": {{ $json.outline }},\n  \"status\": \"IN_PROGRESS\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        1792
      ],
      "id": "9cb88472-530e-4e0a-89ea-7a7a0b322e47",
      "name": "Status \"IN_PROGRESS\""
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "courses",
        "updateKey": "courseId",
        "fields": "outline, status",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        1120,
        1792
      ],
      "id": "fbcf66a6-55ec-4f30-bb8a-c41f723ede67",
      "name": "Update outline and status",
      "credentials": {
        "mongoDb": {
          "id": "HtD4Nt8obbMgCkbA",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/generate-outline",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "goal",
              "value": "={{ $json.body.goal }}"
            },
            {
              "name": "notes_from_mentor",
              "value": "={{ $json.body.notesFromMentor }}"
            },
            {
              "name": "cunet_id",
              "value": "={{ $json.body.cunet_id }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "materials",
              "inputDataFieldName": "materials"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        1888
      ],
      "id": "c823e941-555e-4535-ac22-4fc1b524d128",
      "name": "Outline Generator"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        672,
        1792
      ],
      "id": "8e0984ba-49c7-411c-8515-1d267679696a",
      "name": "Merge2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate/:courseId",
        "options": {
          "responseCode": {
            "values": {
              "responseCode": 201
            }
          },
          "responseData": "outline generation started"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        1792
      ],
      "id": "e996b54c-ead3-4a9f-8361-d1453f823487",
      "name": "Generate",
      "webhookId": "fb9d491c-0a9a-4068-a180-4f4ef76a4017"
    }
  ],
  "pinData": {},
  "connections": {
    "Get courses by userId": {
      "main": [
        [
          {
            "node": "Find documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get courses by courseId": {
      "main": [
        [
          {
            "node": "Find documents1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update course": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Find and update documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate new course": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Insert documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "course uuid",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert documents": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Next lesson": {
      "main": [
        [
          {
            "node": "lesson uuid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "course uuid": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lesson uuid": {
      "main": [
        [
          {
            "node": "Generate empty lesson obj",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert lesson": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Generate empty lesson obj": {
      "main": [
        [
          {
            "node": "Get course",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get course": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Update lessonId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update lessonId": {
      "main": [
        [
          {
            "node": "Update lessonIds",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert lesson",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update lessonIds": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status \"GENERATING\"": {
      "main": [
        [
          {
            "node": "Update status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update status": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status \"IN_PROGRESS\"": {
      "main": [
        [
          {
            "node": "Update outline and status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outline Generator": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Status \"IN_PROGRESS\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate": {
      "main": [
        [
          {
            "node": "Status \"GENERATING\"",
            "type": "main",
            "index": 0
          },
          {
            "node": "Outline Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a23ac730-be1c-4d9a-9fc3-72403fb2e57b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4436dab057415997b1e213a09c95779d30fd31c9c0911f2717b0dff86bc58428"
  },
  "id": "AGgBKqTiV2ieyZUQ",
  "tags": []
}