workflows/GetOneLesson.json
{
  "name": "GetOneLesson",
  "nodes": [
    {
      "parameters": {
        "path": "lessons/:lessonId",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        80,
        -144
      ],
      "id": "dffe7206-7b79-4c06-be8d-4cd9e1737c43",
      "name": "Webhook",
      "webhookId": "a7d64218-010b-4ff0-a255-3ea4f9d23c26"
    },
    {
      "parameters": {
        "collection": "lessons",
        "options": {},
        "query": "={ \"lessonId\": \"{{ $json._id }}\" }"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        496,
        -144
      ],
      "id": "01fa3183-eaae-4075-a05b-e7fe16b380f1",
      "name": "Find documents",
      "credentials": {
        "mongoDb": {
          "id": "HtD4Nt8obbMgCkbA",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0ec37572-9abd-4d18-afdb-c2a8e55ae6cb",
              "name": "_id",
              "value": "={{ $json.params.lessonId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        -144
      ],
      "id": "0095ff2b-e679-4e13-851f-0a2b837c7e90",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Find documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "60e3e372-c299-44d2-ba9a-41130c208c25",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4436dab057415997b1e213a09c95779d30fd31c9c0911f2717b0dff86bc58428"
  },
  "id": "KFXcyX754UAYS46g",
  "tags": []
}