workflows/My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "e1b13fb5-c582-44d7-b25b-924f32aa1466",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "return {\n  message: \"Hello World\"\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "6da68414-37b7-459c-9a99-11ecda9b389d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "test_collection",
        "fields": "=Word: {{ $json.message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        416,
        0
      ],
      "id": "2514050c-11ba-4dc8-8a98-a66700d0b8a9",
      "name": "Insert documents",
      "credentials": {
        "mongoDb": {
          "id": "MWPgz4izAkyqV6OH",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "test_collection",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        624,
        0
      ],
      "id": "cec44dd9-0f06-4e28-90ab-bed4b00359d4",
      "name": "Find documents",
      "credentials": {
        "mongoDb": {
          "id": "MWPgz4izAkyqV6OH",
          "name": "MongoDB account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Insert documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert documents": {
      "main": [
        [
          {
            "node": "Find documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "ee7706ad-97da-487a-a257-e6a41bd23726",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "033f1bc6215f63e899772bfa6952d5de23ea9ab6140b36a3b563a251130298dd"
  },
  "id": "nai4HrIQdqg6xKbG7y3wF",
  "tags": []
}