workflows/RegisterFlow.json
{
  "name": "RegisterFlow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "register",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -128,
        0
      ],
      "id": "bee83e4c-ccab-455c-8d04-314554323ce8",
      "name": "Webhook",
      "webhookId": "b77165b5-e51e-4516-8bec-9eeb45842b00"
    },
    {
      "parameters": {
        "type": "SHA256",
        "value": "={{ $json.password }}",
        "dataPropertyName": "hashed_password"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "8307abd9-7475-4604-b988-7e190cfeeafd",
      "name": "Crypto"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "users",
        "fields": "=email, hashed_password ",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        416,
        0
      ],
      "id": "0ee45ad8-438b-419e-9403-c6981a38f48a",
      "name": "Insert documents",
      "credentials": {
        "mongoDb": {
          "id": "zoh5cWvgtjKOQ61h",
          "name": "MongoDB account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"message\": \"User registered successfully\",\n  \"userId\": \"{{ $json.id }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        624,
        -96
      ],
      "id": "3e47dd73-6243-4b18-a68a-977a8e801c3e",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"message\": \"Fail to register\",\n  \"err_msg\": {{ JSON.stringify($json.error) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        624,
        96
      ],
      "id": "08d9053f-5d67-4d02-853a-87f0d71481a7",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "792dea51-68e6-4abd-bbb3-c73c6a8a4f2d",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "e45d3f87-def1-47c4-9809-36358ddf82ba",
              "name": "password",
              "value": "={{ $json.body.password }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        0
      ],
      "id": "18ec45aa-eb72-45d1-82a6-996f7cf5d26c",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto": {
      "main": [
        [
          {
            "node": "Insert documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert documents": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "332283fc-8b5b-48f9-a667-18d53e3f8903",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2f455c3b076788e6fa0cc0b037936bc00f41f746465bd84b64312c4c01bcdf7d"
  },
  "id": "oZHfg2FY4kc-pM1NEpdtV",
  "tags": []
}