workflows/slide-generator.json
{
  "name": "slide-generator",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        208,
        0
      ],
      "id": "6e7d16b0-04fe-4d1c-86f3-acdf3995339d",
      "name": "When chat message received",
      "webhookId": "fbfd7e34-00ef-497e-99d2-d248a138cfe8"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=Create a presentation in Marp Markdown format based on the following input.\n\nSTRICT LAYOUT RULES:\n1. Frontmatter: Use the exact YAML frontmatter provided below.\n2. Content Splitting: You MUST create a NEW SLIDE (using '---') for every distinct section or major topic.\n3. \"One Header\" Rule: Never put two \"## H2 Headers\" on the same slide. If you start a new ## Header, you MUST put '---' before it.\n4. Bullet Limits: Maximum 5 bullet points per slide. If there are more, split them into two slides (e.g., \"Key Areas Part 1\" and \"Key Areas Part 2\").\n5. Do not output markdown code blocks (```). Just raw text.\n\n---\nmarp: true\ntheme: default\npaginate: true\nsize: 16:9\nstyle: |\n  section {\n    font-size: 25px;\n    padding: 40px;\n    justify-content: center; /* Keeps content centered vertically */\n  }\n  h1 {\n    font-size: 50px;\n    color: #0288d1;\n  }\n  h2 {\n    font-size: 35px;\n    color: #333;\n  }\n---\n\nInput Data: {{ $json.chatInput }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        0
      ],
      "id": "5b199690-8aad-4517-b8df-2a53782b60e1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        288,
        208
      ],
      "id": "cbf126a0-b1e5-477d-a3f1-208446b76392",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "nkjyjxzIkBKuhyZh",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://slide_generator:5000/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "markdown",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        768,
        0
      ],
      "id": "de945664-1254-43eb-a57f-dcee12275697",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "capstone-ai-education",
        "fileName": "tmp.pdf",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        976,
        0
      ],
      "id": "b221a54a-56a1-42da-8605-a26e94ebe57e",
      "name": "Upload a file",
      "credentials": {
        "aws": {
          "id": "dxBCP5LgruhUqTMg",
          "name": "AWS (IAM) account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "6befb2bc-3b6c-404b-8cc0-120e0f871991",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dacf661d18952437dcd120ba832369f336608e51c4a96e821e930948a4d1e07e"
  },
  "id": "bSG0GG8K2wzyXDGJ19WlZ",
  "tags": []
}